*{
    margin: 0px;
    padding: 0px;

}


html{
    background-color: #192434;
    /*background-image: url(../../client/images/jop_dimon.jpg);*/
    position: relative;
    width: 100%;
    height: 100%;
}

/*video{
    position: absolute;
}*/


.proba{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: aqua;
}

.but_switch_music{
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    right: 0;
    top: 0;
    background-color: aliceblue;
    position: absolute;
    left: 50px;
}

.but_switch_theme_music{
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    right: 0;
    top: 0;
    background-color: aliceblue;
    position: absolute;
    right: 50px;
}

.player_mus_main{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: aliceblue;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 25px;
    margin-top: 25px;
}

.help_main_mus{
    top: 24px;
    right: 0;
    width: 88px;
    height: 62px;
    margin-right: 126px;
    background-color: red;
    position: absolute;
}

.circle_main_left{
    width: 62px;
    height: 62px;
    position: absolute;
    left: -31px;
    background-color: red;
    border-radius: 50%;
}

.circle_main_right{
    width: 62px;
    height: 62px;
    position: absolute;
    right: -31px;
    background-color: red;
    border-radius: 50%;
}


body{
    width: 100%;
    height: 1310px;
    position: relative;
    display: flex;
    overflow-x: hidden;
}

.h1{
    position: absolute;
    top: auto;
    left: 1160px;
    color:rgb(5, 138, 200);
    font-size: 300%;
}

.profile{
    position: absolute;
    border: 2px solid rgb(31, 15, 68);
    border-radius: 10%;
    height: 125px;
    width: 500px;
    background-color: rgb(83, 89, 176);
    margin: 60px;
    margin-left: 30px;
    display: grid; 
    place-items: center;
}

.show_profill{
    position: absolute;
    background-image: url(../images/poni_icon.png);
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    border: 2px solid rgb(0, 0, 0);
    object-fit: fill;
    border-radius: 50%;
    left: 0;
    margin: 20.5px;
}

.show_profill:active{
    transform: translateY(4px);
}

.user_name{
    position: absolute;
    width: 308px;
    height: 65px;
    font-size: 22px;
    left: 120px;
    display: grid; 
    top: 10px;
    place-items: center;
}

.mmr{
    position: absolute;
    width: 308px;
    height: 60px;
    left: 120px;
    font-size: 20px;
    display: grid; 
    top: 50px;
    place-items: center;
}

.profile_mode{
    z-index: 10;
    position: absolute;
    width: 300px;
    height: 400px;
    margin-top: 15px;
    margin-left: 2px;
    left: 0;
    top: 127px;
    background-color: #2d415e;
    border-radius: 10%;
}

.prof{
    position: absolute;
    width: 280px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 30%;
    background-color: rgb(114, 114, 253);
    user-select: none;
}

.prof:active{
    transform: translateY(4px);
}

.icon_prof{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../images/icon/icon_prof.png);
    margin-left: 15px;
    margin-top: 5px;
}

.name_icon{
    position: absolute;
    width: 230px;
    height: 60px;
    margin-left: 35px;
    display: grid;
    place-items: center;
    font-size: 25px;
}

.friends{
    position: absolute;
    width: 280px;
    height: 60px;
    margin-left: 10px;
    margin-top: 80px;
    border-radius: 30%;
    background-color: rgb(114, 114, 253);
    user-select: none;
}

.friends:active{
    transform: translateY(4px);
}

.icon_friends{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../images/icon/icon_frinds.png");
    margin-left: 15px;
    margin-top: 5px;
}

.masendges{
    position: absolute;
    width: 280px;
    height: 60px;
    margin-left: 10px;
    margin-top: 150px;
    border-radius: 30%;
    background-color: rgb(114, 114, 253);
    user-select: none;
}

.masendges:active{
    transform: translateY(4px);
}

.icon_masendges{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../images/icon/icon_masendges.png");
    margin-left: 15px;
    margin-top: 5px;
}

.out{
    position: absolute;
    width: 280px;
    height: 60px;
    margin-left: 10px;
    margin-top: 270px;
    background-color: rgb(255, 85, 85);
    user-select: none;
}

.loggin{
    position: absolute;
    width: 200px;
    height: 45px;
    background-color: rgb(54, 234, 54);
}

.loggin:active{
    transform: translateY(4px);
}

.but_chous{
    position: absolute;
    width:350px;
    height: 100px;
    background-color: aliceblue;
    right: 0;
    bottom: -30px;
    margin: 40px;
}

.but_op_menu{
    position: absolute;
    width: 350px;
    height: 100px;
    background-color: aqua;
    animation-name: my-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.but_op_menu:hover{
    position: absolute;
    width: 350px;
    height: 100px;
    background-color: aqua;
    animation-name: my-animation, grow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.but_op_menu:active{
    transform: translateY(4px);
}

.but_chous:active{
    transform: translateY(4px);
}

.but_chous.active{
    animation-name: but_pl_active;
    animation-duration: 0.5s;
}

.but_chous.posiv{
    animation-name: but_pl_posiv;
    animation-duration: 0.5s;
}

.but_cl_menu{
    position: absolute;
    width: 350px;
    height: 100px;
    background-image: url(../images/arrow.png);
    background: transparent;
    text-align: center;
    margin-left: 100px;
    bottom: 60px;
    margin-bottom: 10px;
}

.but_cl_menu:active{
    transform: translate(4px);
}

.hidden{
    display: none !important;
}

menu{
    display: block;
    position: absolute;
    width: 550px;
    height: 1250px;
    background-color: antiquewhite;
    right: 20px;
    padding: 0;
}


menu.active{
    animation-name: open_menu;
    animation-duration: 0.5s;
    right: 20px;
}

menu.posiv{
    animation-name: clous_menu;
    animation-duration: 0.5s;
    right: 20px;
}

li{
    list-style-type: none;
    position: relative;
    width: 350px;
    height: 100px;
    border: 2px solid black;
    text-align: center;
    margin-left: 98px;
    margin-top: 5px;
    top: 60px;
    display: grid; 
    place-items: center;
}

.play_h{
    position: absolute;
    width: 350px;
    height: 100px;
    background: transparent;
    margin-left: 100px;
    top: 283px;
}

.game_search{
    position: absolute;
    background-color: rgb(0, 179, 255);
    width: 350px;
    height: 100px;
    right: 0;
    bottom: -30px;
    margin: 40px;
}

.game_search.active{
    animation-name: search_active;
    animation-duration: 1s;
}

.text_saerch{
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    width: 200px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

.time_search{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 5px;
    width: 250px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

.game_search.active{
    animation-name: but_pl_posiv;
    animation-duration: 1s;
}

@keyframes search_active{
    0%{
        right: -500px;
    }

    100%{
        right: 0px;
    }
}

@keyframes but_pl_active{
    0%{
        right: 0px;
    }

    100%{
        right: -400px;
    }
}

@keyframes but_pl_posiv{
    0%{
        right: -400px;
    }

    100%{
        right: 0px;
    }
}

@keyframes open_menu {
    0%{
        width: 0;
        height: 1250px;
    }
    
    100%{
        height: 1250px;
        width: 550px;
    }
    
}

@keyframes clous_menu {
    0%{
        height: 1250px;
        width: 550px;
    }

    100%{
        height: 1250px;
        width: 0px;
    }
    
}

@keyframes my-animation {
    0% {
        background-color: rgb(4, 255, 0);
    }
    10% {
        background-color: rgb(4, 255, 20);
    }
    20% {
        background-color: rgb(4, 255, 40);
    }
    30% {
        background-color: rgb(4, 255, 60);
    }
    40% {
        background-color: rgb(4, 255, 80);
    }
    50% {
        background-color: rgb(4, 255, 100);
    }
    60% {
        background-color: rgb(4, 255, 80);
    }
    70% {
        background-color: rgb(4, 255, 60);
    }
    80% {
        background-color: rgb(4, 255, 20);
    }
    90% {
        background-color: rgb(4, 255, 10);
    }
    100% {
        background-color: rgb(4, 255, 0);
    }
}

@keyframes grow{
    0%{
        transition: steps(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1)
    }   
}

    /* для hd монитора */
@media (min-width: 768px) and (max-width: 1300px) {
    .h1{
        left: 565px;
        font-size: 200%;
    }

    .profile{
        height: 90px;
        width: 300px;
        margin: 20px;
        display: grid; 
        place-items: center;
        
    
    }
    
    .show_profill{
        background-size: 60px 60px;
        width: 60px;
        height: 60px;
        margin: 20px;
        top: 15px;
        left: 12px;
    
    }
    
    li{
        list-style-type: none;
    }
    
    .but_chous{
        width:200px;
        height: 75px;
        left: 1046.5px;
        top: 490px;
    }
    
    .but_op_menu{
        width: 200px;
        height: 75px;
    }
    
    .but_op_menu:hover{
        width: 200px;
        height: 75px;
    }

    .but_cl_menu{
        width: 200px;
        height: 75px; 
        right: -75px;
        top: 215px;
    
    }
    
    menu{
        width: 350px;
        height: 540px;
        right: 20px;
    }
    
    li{
        width: 200px;
        height: 75px;
    }
    
    .play_h{
        width: 200px;
        height: 75px;
    }

    
}

@media (min-width: 1301px) and (max-width: 1920px) {
    .help{
        position: absolute;
        width: 200px;
        height: 100px;
        border: 2px solid black;
        background-color: aliceblue;
        right: 0;
    }
    
    body{
        width: 100%;
        height: 900px;
        position: relative;
    }
    
    .h1{
        left: 44.5%;
        font-size: 300%;
    }

    .profile{
        height: 125px;
        width: 400px;
        margin: 32px;
        margin-left: 18px;
        display: grid; 
        place-items: center;   
    }
    
    .mmr{
        width: 268px;
        height: 60px;
        left: 102px;
        font-size: 20px; 
        top: 50px;
    }

    .show_profill{

        background-size: 70px 70px;
        width: 70px;
        height: 70px;
        margin: 19px;    
    }

    .user_name{
        width: 268px;
        height: 80px;
        left: 102px;
        font-size: 150%;
    }
    
    li{
        list-style-type: none;
    }
    
    .but_chous{
        position: absolute;
        width:250px;
        height: 100px;
        margin-bottom: 10px;
        bottom: -50px;
    }
    
    .but_op_menu{
        width: 250px;
        height: 100px;
    }
    
    .but_op_menu:hover{
        width: 250px;
        height: 100px;
    }

    .but_cl_menu{
        width: 250px;
        height: 100px; 
        margin-left: 125px;
        margin-top: 300px;  
    }
    
    menu{
        top: 9px;
        width: 500px;
        height: 920px;
        right: 20px;
    }
    
    li{
        width: 250px;
        height: 100px;
        margin-left: 125px;
    }
    
    .play_h{
        width: 250px;
        height: 100px;
        margin-left: 127px;
    }

    @keyframes open_menu {
        0%{
            width: 0;
            height: 920px;
        }
        
        100%{
            height: 920px;
            width: 500px;
        }
        
    }

    @keyframes clous_menu {
        0%{
            height: 920px;
            width: 500px;
        }
    
        100%{
            height: 920px;
            width: 0px;
        }
        
    }
}