.loading{
    position: absolute;
    width: 100px;
    height: 75px;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}

.hiden{
    display: none !important;
}

.outB{
    position: absolute;
    width: 300px;
    height: 125px;
    margin: 20px;
    bottom: 0px;
    background-color: rgb(53, 53, 127);
    display: grid;
    place-items: center;
    font-size: 22px;
}

.outB:active{
    transform: translateY(4px);
}

.MainReg{
    width: 600px;
    height: 800px;
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 10%;
}

.enter_login{
    width: 600px;
    height: 600px;
    background-color: #2d415e;
    position: relative;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.li_1{
    position: absolute;
    width: 250px;
    height: 100px;
    margin-left: 175px;
    margin-top: 100px;
}

.usORem_name{
    background-color: rgb(53, 53, 127);
    position: absolute;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.li_2{
    position: absolute;
    width: 250px;
    height: 100px;
    margin-left: 175px;
    margin-top: 225px;
}

.password_bloc{
    background-color: rgb(53, 53, 127);
    position: absolute;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.li_3{
    position: absolute;
    width: 250px;
    height: 100px;
    margin-left: 175px;
    margin-top: 350px;
}

.li_4{
    position: absolute;
    width: 250px;
    height: 100px;
    margin-left: 175px;
    margin-top: 75px;
}

.li_5{
    position: absolute;
    width: 250px;
    height: 100px;
    margin-left: 175px;
    margin-top: 200px;
}

.li_6{
    position: absolute;
    width: 250px;
    height: 100px;
    margin-left: 175px;
    margin-top: 325px;
}

.li_7{
    position: absolute;
    width: 250px;
    height: 100px;
    margin-left: 175px;
    margin-top: 450px;
}


.login{
    background-color: rgb(53, 53, 127);
    position: absolute;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
}

.reg_log{
    position: absolute;
    width: 600px;
    height: 200px;
    top: 600px;
    background-color: #2d415e;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.but_reg{
    position: absolute;
    width: 250px;
    height: 100px;
    left: 50%;
    transform: translate(-50%);
    top: 25px;
    background-color: rgb(53, 53, 127);
    font-size: 20px;
}

.but_log{
    position: absolute;
    width: 250px;
    height: 100px;
    left: 50%;
    transform: translate(-50%);
    top: 25px;
    background-color: rgb(53, 53, 127);
    font-size: 20px;
}

