.loading{
    position: absolute;
    width: 100px;
    height: 75px;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}

.hiden{
    display: none !important;
}

.outB{
    position: absolute;
    width: 300px;
    height: 125px;
    margin: 20px;
    bottom: 0px;
    background-color: rgb(53, 53, 127);
    display: grid;
    place-items: center;
    font-size: 22px;
    user-select: none;
}

.outB:active{
    transform: translateY(4px);
}

.MainReg{
    width: 600px;
    height: 800px;
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 10%;
}

.enter_login{
    width: 600px;
    height: 600px;
    background-color: #2d415e;
    position: relative;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.li_1{
    position: absolute;
    width: 250px;
    height: 100px;
    margin-left: 175px;
    margin-top: 100px;
}

.usORem_name{
    background-color: rgb(53, 53, 127);
    position: absolute;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    color: white;
    user-select: none;
}

.li_2{
    position: absolute;
    width: 250px;
    height: 100px;
    margin-left: 175px;
    margin-top: 225px;
}

.password_bloc{
    background-color: rgb(53, 53, 127);
    position: absolute;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    color: white;
    user-select: none;
}

.li_3{
    position: absolute;
    width: 250px;
    height: 100px;
    margin-left: 175px;
    margin-top: 350px;
}

.login{
    background-color: rgb(53, 53, 127);
    position: absolute;
    width: 250px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    user-select: none;
}

.li_4{
    position: absolute;
    width: 250px;
    height: 100px;
    margin-left: 175px;
    margin-top: 75px;
}

.li_5{
    position: absolute;
    width: 250px;
    height: 100px;
    margin-left: 175px;
    margin-top: 200px;
}

.li_6{
    position: absolute;
    width: 250px;
    height: 100px;
    margin-left: 175px;
    margin-top: 325px;
}

.li_7{
    position: absolute;
    width: 250px;
    height: 100px;
    margin-left: 175px;
    margin-top: 450px;
}

.reg_log{
    position: absolute;
    width: 600px;
    height: 200px;
    top: 600px;
    background-color: #2d415e;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.but_reg{
    position: absolute;
    width: 250px;
    height: 100px;
    left: 50%;
    transform: translate(-50%);
    top: 25px;
    background-color: rgb(53, 53, 127);
    font-size: 20px;
    user-select: none;
}

.but_log{
    position: absolute;
    width: 250px;
    height: 100px;
    left: 50%;
    transform: translate(-50%);
    top: 25px;
    background-color: rgb(53, 53, 127);
    font-size: 20px;
    user-select: none;
}

@media (min-width: 1301px) and (max-width: 1920px) {

    .MainReg{
        width: 425px;
        height: 625px;
        background-color: #2d415e; /*aqua*/
        position: absolute;
        top: 40%;
        left: 50%; 
        transform: translate(-50%, -50%);
        border-radius: 10%;
    }

    .enter_login{
        width: 425px;
        height: 450px;
        background-color: #2d415e;
        position: relative;
        border-top-left-radius: 10%;    
        border-top-right-radius: 10%;
    }

    .li_1{
        width: 250px;
        height: 75px;
        margin-left: 87.5px;
        margin-top: 100px;
    }

    .li_2{
        width: 250px;
        height: 75px;
        margin-left: 87.5px;
        margin-top: 225px;
    }

    .password_bloc{
        height: 75px;
    }   

    .li_3{
        width: 250px;
        height: 75px;
        margin-left: 87.5px;
        margin-top: 350px;
    }

    .login{
        height: 75px;
    }

    .reg_log{
        width: 425px;
        height: 175px;
        top: 450px;
        background-color: #2d415e;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }

    .outB{
        width: 275px;
        height: 75px;
        margin: 20px;
        bottom: 250px;
    }

    .li_4{
        height: 75px;
        margin-left: 87.5px;
        margin-top: 50px;
    }

    .usORem_name{
        width: 250px;
        height: 75px;
}

    .li_5{
        height:75px;
        margin-left: 87.5px;
        margin-top: 150px;
    }

    .li_6{
        height: 75px;
        margin-left: 87.5px;
        margin-top: 250px;
    }

    .li_7{
        height: 75px;
        margin-left: 87.5px;
        margin-top: 350px;
    }

    .but_log{
        height: 75px;
    }

    .but_reg{
    height: 75px;
    left: 50%;
    transform: translate(-50%);
    top: 25px;
}

}

